doctype html
head
	title Bulletin Board Application

	// jQuery
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 

	// Stylesheets
	link(rel='stylesheet' href='css/bootstrap.css')
	link(rel='stylesheet' href='css/custom.css')
body
	#nav 
		h1 BULLETIN BOARD APPLICATION
			a(href='/') HOME
			a(href='/board') BULLETIN BOARD
	.container#messages
		.row
			.col-sm-12
				h2= "There's a total of " + toutLesMessages.length + " messages"
				each message in toutLesMessages
					p= "Message number: " + message.id
					p= "Title: " + message.title
					p= "Message: " + message.body
