doctype html
head
	title Bulletin Board Application

	// jQuery
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 

	// Stylesheets
	link(rel='stylesheet' href='css/bootstrap.css')
	link(rel='stylesheet' href='css/custom.css')
body
	#nav 
		h1 BULLETIN BOARD APPLICATION
			a(href='/') HOME
			a(href='/board') BULLETIN BOARD	
	.container-fluid-form
		.row
			.col-sm-12
				h2 Want to post a message to the bulletin board?
				form(action="/submitbulletin", method="post")
					div.inputtitle
						input(type="text", name="title", placeholder="TITLE", class="inputtitle")
					div.inputbody
						textarea(cols='95%', rows='7', type="text", name="message", placeholder="MESSAGE", class="inputbody")
					div.actions
						input(type="submit", value="Submit")

