doctype html
head
	title Bulletin Board Application

	// jQuery
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 

	// Stylesheets
	link(rel='stylesheet' href='css/bootstrap.css')
	link(rel='stylesheet' href='css/custom.css')
body
	#nav 
		h1 BULLETIN BOARD APPLICATION
			a(href='/') HOME
			a(href='/') BULLETIN BOARD	
	.container-fluid.form
		.row
			.col-sm-12
				h2 Want to add something to the bulletin board?
				form(action="/searchresult", method="post")
					div.inputtitle
						input(type="text", name="title", placeholder="title")
					div.inputbody
						input(type="text", name="body" placeholder="body")
					div.actions
						input(type="submit", value="Search")

