doctype html
head
	title Bulletin Board Application

	// jQuery
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 

	// Stylesheets
	link(rel='stylesheet' href='css/bootstrap.css')
	link(rel='stylesheet' href='css/custom.css')

	meta(http-equiv='refresh', content='3;url=/board')
body
	#navbar-fixed
		h1 BULLETIN BOARD APPLICATION
			a(href='/') HOME
			a(href='/board') BULLETIN BOARD
	#succes
		h2 Your message has been added to the bulletin board!

		h2 You will be redirected to the bulletin board in 3 seconds