/*NAVIGATION BAR*/

#nav{
	border-bottom: 2px solid black;
}

#nav h1{
	font-size: 40px;
	margin-left: 20px;
}

#nav a {
	font-size: 30px;
	margin-left:20px;
}

/*FORM*/
.row {
	text-align:center;
}

input {
	width:50%;
}

.inputtitle{
	height: 35px;
	margin-bottom: 20px;
}

.inputbody{
	height: 100%;
	margin-bottom: 20px;
}

/*REDIRECTING PAGE*/
#succes h2{
	text-align:center;
}

/*BULLETIN BOARD*/
#messageDisplay{
	margin-bottom: 10px;
	width: 60%;
	text-align:center;
	display: inline-block;
}

#messageDisplay td{
	border: 1px solid black;
	width:10%
}
#messageDisplay #td{
	width:50%
}


